.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; 
  height: 100vh; 
  max-height:1080px;
  max-width: 1920px;
  background-image: url('./images/websiteBackground.png');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: contain; 
}
  
  .title {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
  }

  .Occupation{
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
  }
  
  .image {
    width: 50%;
    border-radius: 10px;
  }
