body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000;
  color: #ffffff;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px; /* Decrease the padding value to make the header smaller */
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #ffffff;
}

/* Path: personalwebsite/src/App.css */
.App {
  text-align: center;

  background-color: #000000;
  color: #ffffff;

  

}
